.posts-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
}

.category-subcategory-delimiter {
    margin: 0 15px;
    font-weight: 600;
}

.category-title-wrapper {
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 50px;
}

.add-post {
    text-align: center;
}

.add-post a {
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 2px 15px;
    cursor: pointer;
    font-size: 0.9em;
}