.category {
    background-color: var(--background-color);
    border: 2px solid #3d3232;
    box-shadow: 4px 4px 7px 0px #888888;
    border-radius: 8px;
    margin-top: 20px;
    padding: 20px 0px;
}

.subcategory-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    width: 100%;
}

.admin-category-wrapper {
    text-align: right;
    margin-top:  -20px;
    margin-right: 10px;
    margin-bottom: 20px;
}

.admin-category-wrapper i {
    margin-right: 15px;
}

.admin-category-wrapper a:hover {
    color: red;
}

i.fa-edit:hover {
    color: orange;
}
