a.sub-category-link {
   width: 60%;
}

.subcategory-name {
    width: 100%;
    border: 1px solid white;
    padding-left: 50px;
}

.subcategory-pub-number {
    border: 1px solid white;
    border-left: none;
    width: 20%;
    text-align: center;
    font-size: 0.8em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subcategory-icons {
    border: 1px solid white;
    border-left: none;
    text-align: center;
}

.subcategory-name p {
    margin: 0;
}

p.subcategory-title {
    margin-top: 10px;
}

.subcategory-description {
    font-size: 0.8em;
    padding-bottom: 10px;
}

.subcategory-icons {
    display: flex;
    align-items: center;
}

.edit-icon-wrapper {
    margin-right: 30px;
    margin-left: 15px;
    font-size: 1.3em;
}

.delet-icon-wrapper {
    margin-right: 15px;
    font-size: 1.3em;
}

.subcategory-icons a i {
    padding: px;
}

.subcategory-icons a i:hover{
    color: red;
}