.login-form {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 100px auto;
    border: 2px solid #3d3232;
    box-shadow: 4px 4px 7px 0px #888888;
    background-color: var(--background-color);
    align-items: center;
    border-radius: 7px;
}

.login-form label {
    width: 100%;
}

.input-form-wrapper input{
    width: 60%;
    margin: 0 auto;
    display: block;
    border-radius: 5px;
    border: 1px solid black;
    text-align: center;
    font-size: 0.9em;
}

.label-form-wrapper {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.login-form button {
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 5px 45px;
    border-radius: 5px;
    border: 1px solid black;
}

.login-form button:hover {
    background-color: black;
    color: white;
}

.form-header-title {
    margin-top: 30px;
    padding: 2px 10px;
    background-color: #a12222;
    color: white;
    border-radius: 4px;
}